{% load static %}
<div class="column one">
  <div class="top_bar_left clearfix">
    <div class="logo">
      <a id="logo" href="{% url 'home' %}" title="Eagle Enterprise" data-height="120" data-padding="0"><img
          class="logo-main scale-with-grid" src="{% static 'images/eagles_logo.png' %}"
          data-retina="{% static 'images/eagles_logo.png' %}" data-height="120" alt="eagles_glasses" data-no-retina><img
          class="logo-sticky scale-with-grid" src="{% static 'images/eagles_logo.png' %}"
          data-retina="{% static 'images/eagles_logo.png' %}" data-height="120" alt="eagles_glasses" data-no-retina><img
          class="logo-mobile scale-with-grid" src="{% static 'images/eagles_logo.png' %}"
          data-retina="{% static 'images/eagles_logo.png' %}" data-height="120" alt="eagles_glasses" data-no-retina><img
          class="logo-mobile-sticky scale-with-grid" src="{% static 'images/eagles_logo.png' %}"
          data-retina="{% static 'images/eagles_logo.png' %}" data-height="120" alt="eagles_glasses" data-no-retina></a>
    </div>
    <div class="menu_wrapper">
      <nav id="menu">
        <ul id="menu-main-menu" class="menu menu-main">
          <li class=" "> <a href="{% url 'home' %}"><span>Home</span></a>
          </li>
          <li> <a href="{% url 'offers' %}"><span>Offer and services</span></a> </li>
          <li> <a href="{% url 'about' %}"><span>Our company</span></a> </li>
          <li> <a href="{% url 'gallery'%}"><span>Gallery</span></a> </li>
          <li> <a href="{% url 'contact'%}"><span>Contact</span></a> </li>
        </ul>
      </nav><a class="responsive-menu-toggle " href="#"><i class="icon-menu-fine"></i></a>
    </div>
  </div>
  <div class="top_bar_right">
    <div class="top_bar_right_wrapper"> <a href="{% url 'dashboard' %}" class="action_button" target="_blank">L</a>
    </div>
  </div>
</div>