{% extends 'main.html' %}
{% load static %}
{% block body %}

<body
	class="page-template-default page color-custom style-simple button-custom layout-full-width if-zoom if-border-hide no-content-padding header-plain header-fw sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-right logo-valign-top logo-no-margin logo-no-sticky-padding mobile-tb-center mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky ">
	<div id="Wrapper">
		<div id="Header_wrapper">
			<header id="Header">
				<div id="Top_bar">
					<div class="container">
						{% include 'partials/topbar.html' %}
					</div>
				</div>
		</div>
		</header>
	</div>
	<div id="Content">
		<div class="content_wrapper clearfix">
			<div class="sections_group">
				<div class="entry-content">
					<div class="section mcb-section mcb-section-f2660c8bb bg-cover"
						style="padding-top:130px;padding-bottom:90px;background-color:#141515;background-image:url({% static 'images/img-journey.jpg' %});background-repeat:no-repeat;background-position:center top">
						<div class="section_wrapper mcb-section-inner">
							<div class="wrap mcb-wrap mcb-wrap-d9ef40077 one valign-top clearfix">
								<div class="mcb-wrap-inner">
									<div class="column mcb-column mcb-item-9b592e82b three-fourth column_column">
										<div class="column_attr clearfix align_left" style>
											<h1 style="color: #FFF;">Our
												<br>
												Company</h1>
										</div>
									</div>
									<div class="column mcb-column mcb-item-eed29edbf one-third column_placeholder">
										<div class="placeholder"> &nbsp; </div>
									</div>
									<div class="column mcb-column mcb-item-321bbccab two-third column_column">
										<div class="column_attr clearfix" style>
											<h2 style="color: #FFF;">We’re passionate about serving our clients to the fullest, while
												continuously
												growing, learning, and innovating.</h2>
										</div>
									</div>
									<div class="column mcb-column mcb-item-7d8b9288d one column_divider">
										<hr class="no_line" style="margin:0 auto 60px">
									</div>
									<div class="column mcb-column mcb-item-yy536f5pq one-second column_image">
										<div class="image_frame image_item no_link scale-with-grid no_border">
											<div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/gitau.jpg' %}">
											</div>
										</div>
									</div>
									<div class="column mcb-column mcb-item-9gy7jtlge one-second column_column">
										<div class="column_attr clearfix" style="padding:40px 15% 0;">
											<h2 style="color: #FFF;">Emmanuel
												<br>
												Sino</h2>
											<p style="color: #FFF;">We have a skilled and dedicated staff who are committed to providing the
												highest
												quality glass service in the industry. We are poised for continued growth and new challenges and
												will
												relentlessly pursue relationships that will help us achieve our vision.</p>
											<hr class="no_line" style="margin:0 auto 40px">
											<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
												<div class="image_wrapper"><img class="scale-with-grid"
														src="{% static 'images/factory3-company-pic2.png' %}">
												</div>
											</div>
										</div>
									</div>
									<div class="column mcb-column mcb-item-3n88xjj8a one column_divider">
										<hr class="no_line" style="margin:0 auto 60px">
									</div>
									<div class="column mcb-column mcb-item-om0czcg8m two-fifth column_column">
										<div class="column_attr clearfix align_right mobile_align_center" style="padding:0 40px;">
											<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
												<div class="image_wrapper"><img class="scale-with-grid"
														src="{% static 'images/factory3-company-pic3.png' %}">
												</div>
											</div>
										</div>
									</div>
									<div class="column mcb-column mcb-item-qncpq0m7e two-fifth column_column">
										<div class="column_attr clearfix mobile_align_center" style="padding:5px 0 0;">
											<h3 style="color:rgb(226, 29, 29); font-weight:bold; font-style: italic;"> Glass is what we do
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section mcb-section mcb-section-5900403b6 bg-cover"
						style="padding-top:130px;padding-bottom:130px;background-color:#BFC1C1;background-image:url({% static 'images/back.jpg' %});background-repeat:no-repeat;background-position:center">
						<div class="section_wrapper mcb-section-inner">
							<div class="wrap mcb-wrap mcb-wrap-013032f5a one-third column-margin-0px valign-middle clearfix"
								style="padding:0 1%">
								<div class="mcb-wrap-inner">
									<div class="column mcb-column mcb-item-a7b8b0010 one column_image">
										<div class="image_frame image_item no_link scale-with-grid no_border">
											<div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/int.svg' %}">
											</div>
										</div>
									</div>
									<div class="column mcb-column mcb-item-c2ea5d9af one column_column">
										<div class="column_attr clearfix"
											style="background-color:rgba(73, 138, 236, 0.733);padding:20px 20px 5px ;">
											<h4 style="color: #1b29ac;">Integrity</h4>
											<hr class="no_line" style="margin:0 auto 10px"> <span></span>
											<hr class="no_line" style="margin:0 auto 10px">
											<p>Integrity is the defining quality of our people and our work. No matter the situation, we act
												truthfully
												and honorably, even when no one is watching.</p>
										</div>
									</div>
									<div class="column mcb-column mcb-item-fe5ef6ac7 one column_divider">
										<hr class="no_line" style="margin:0 auto 30px">
									</div>
								</div>
							</div>
							<div class="wrap mcb-wrap mcb-wrap-ddde890bd one-third column-margin-0px valign-middle clearfix"
								style="padding:0 1%">
								<div class="mcb-wrap-inner">
									<div class="column mcb-column mcb-item-cde3ef5d7 one column_image">
										<div class="image_frame image_item no_link scale-with-grid no_border">
											<div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/qa.svg' %}">
											</div>
										</div>
									</div>
									<div class="column mcb-column mcb-item-3b3cc9edb one column_column">
										<div class="column_attr clearfix"
											style="background-color:rgba(73, 138, 236, 0.733);padding:20px 20px 5px ;">
											<h4 style="color: #1b29ac;">Quality</h4>
											<hr class="no_line" style="margin:0 auto 10px"> <span style="color: #812e00;"></span>
											<hr class="no_line" style="margin:0 auto 10px">
											<p>We are deeply committed to providing the highest quality materials and services for every
												project. Through
												our close relationships with our suppliers and excellently trained field staff, we get the job
												done right
												the first time!</p>
										</div>
									</div>
									<div class="column mcb-column mcb-item-8c7918d4a one column_divider">
										<hr class="no_line" style="margin:0 auto 30px">
									</div>
								</div>
							</div>
							<div class="wrap mcb-wrap mcb-wrap-4lg6gkj5n one-third column-margin-0px valign-middle clearfix"
								style="padding:0 1%">
								<div class="mcb-wrap-inner">
									<div class="column mcb-column mcb-item-vql71wan7 one column_image">
										<div class="image_frame image_item no_link scale-with-grid no_border">
											<div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/sa.svg' %}">
											</div>
										</div>
									</div>
									<div class="column mcb-column mcb-item-88shtpk5r one column_column">
										<div class="column_attr clearfix"
											style="background-color:rgba(73, 138, 236, 0.733);padding:20px 20px 5px ;">
											<h4 style="color: #1b29ac;">Safety</h4>
											<hr class="no_line" style="margin:0 auto 10px"> <span style="color: #812e00;"></span>
											<hr class="no_line" style="margin:0 auto 10px">
											<p>We prioritize the wellbeing of all members in our team by implementing a collaborative safety
												culture and
												practicing standard precautions at all times.</p>
										</div>
									</div>
									<div class="column mcb-column mcb-item-cvj99gdwd one column_divider">
										<hr class="no_line" style="margin:0 auto 30px">
									</div>
								</div>
							</div>
							<div class="wrap mcb-wrap mcb-wrap-i52t8fie7 one valign-top clearfix" style="padding:60px 1% 0">
								<div class="mcb-wrap-inner">
									<div class="column mcb-column mcb-item-j9srqknic two-third column_column">
										<div class="column_attr clearfix" style>
											<h2>The beauty of glass is always<span style="color:#df1800; font-weight:bold;"> clear</span></h2>
										</div>
									</div>
									<div class="column mcb-column mcb-item-n3kn3ut3x one column_divider">
										<hr class="no_line" style="margin:0 auto 30px">
									</div>
								</div>
							</div>
							<div class="wrap mcb-wrap mcb-wrap-67lgbmezz one-second valign-top clearfix"
								style="padding:50px 10% 0 1% ">
								<div class="mcb-wrap-inner">
									<div class="column mcb-column mcb-item-ezdfp61i7 one column_column">
										<div class="column_attr clearfix" style="padding:0 1%;">
											<h2>Our mission</h2>
										</div>
									</div>
									<div class="column mcb-column mcb-item-s4isfwv3x one column_column">
										<div class="column_attr clearfix" style="padding:0 1%;"> <span style="color: #812e00;"></span>
										</div>
									</div>
									<div class="column mcb-column mcb-item-xybbr9uwl one column_column">
										<div class="column_attr clearfix" style="padding:0 1%;">
											<p>We stock only the finest quality of glass products that are innovative and in line with the
												modern trends
												to ensure our customers are 100% satisfied.</p>
											<hr class="no_line" style="margin:0 auto 30px">

										</div>
									</div>
								</div>
							</div>
							<div class="wrap mcb-wrap mcb-wrap-i44imxrgq one-second valign-top clearfix" style="padding:0 1%">
								<div class="mcb-wrap-inner">
									<div class="column mcb-column mcb-item-zd8moxdba one column_image">
										<div class="image_frame image_item no_link scale-with-grid no_border">
											<div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/prod2-1.jpg' %}">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section mcb-section mcb-section-1314698b6 full-width">
						<div class="section_wrapper mcb-section-inner">
							<div class="wrap mcb-wrap mcb-wrap-54368f874 one valign-top clearfix">
								<div class="mcb-wrap-inner">
									<div class="column mcb-column mcb-item-846cfcad6 one column_image">
										<div class="image_frame image_item no_link scale-with-grid aligncenter stretch no_border">
											<div class="image_wrapper"><img class="scale-with-grid"
													src="{% static 'images/factory3-sep3.jpg' %}"> </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include 'partials/footer.html' %}
	</div>
	<div id="Side_slide" class="right dark" data-width="250">
		<div class="close-wrapper"> <a href="#" class="close"><i class="icon-cancel-fine"></i></a> </div>
		<div class="menu_wrapper"></div>

	</div>
	<div id="body_overlay"></div>
	{% include 'partials/scripts.html' %}
</body>

{% endblock %}