{% extends 'main.html' %}
{% load static %}
{% block body %}

<body
	class="page-template-default page color-custom style-simple button-custom layout-full-width if-zoom if-border-hide no-content-padding header-plain header-fw sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-right logo-valign-top logo-no-margin logo-no-sticky-padding mobile-tb-center mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky ">
	<div id="Wrapper">
		<div id="Header_wrapper">
			<header id="Header">
				<div id="Top_bar">
					<div class="container">
						{% include 'partials/topbar.html' %}
					</div>
				</div>
			</header>
		</div>
		<div id="Content">
			<div class="content_wrapper clearfix">
				<div class="sections_group">
					<div class="entry-content">
						<div class="section mcb-section mcb-section-oanoh8o80 full-width" style="padding-top:130px;padding-bottom:90px;padding-left:5%;padding-right:5%;background-color:#212224;background-image:url({% static 'images/factory3-gallery-bg.png' %});background-repeat:no-repeat;background-position:left
							top">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-6z6wf1ezi one valign-top clearfix">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-67e5258za one column_column">
											<div class="column_attr clearfix align_center" style>
												<h1 style="color:#FFF;">Gallery</h1>
											</div>
										</div>
										<div class="column mcb-column mcb-item-5667oj8yk one column_divider">
											<hr class="no_line" style="margin:0 auto 80px">
										</div>
										<div class="column mcb-column mcb-item-uaz75m5q9 one column_image_gallery">
											<div id="sc_gallery-1" class='gallery galleryid-15 gallery-columns-3 gallery-size-medium file'>
												<dl class="gallery-item">
													<dt class='gallery-icon landscape'>
														<a href="images/factory3-gallery-pic1.jpg"><img width="500" height="342"
																src="images/factory3-gallery-pic1-500x342.jpg" class="attachment-medium size-medium" alt
																loading="lazy"></a>
													</dt>
												</dl>
												<dl class="gallery-item">
													<dt class='gallery-icon landscape'>
														<a href="images/factory3-gallery-pic2.jpg"><img width="500" height="342"
																src="images/factory3-gallery-pic2-500x342.jpg" class="attachment-medium size-medium" alt
																loading="lazy"></a>
													</dt>
												</dl>
												<dl class="gallery-item">
													<dt class='gallery-icon landscape'>
														<a href="images/factory3-gallery-pic3.jpg"><img width="500" height="342"
																src="images/factory3-gallery-pic3-500x342.jpg" class="attachment-medium size-medium" alt
																loading="lazy"></a>
													</dt>
												</dl>
												<br style="clear: both">
												<dl class="gallery-item">
													<dt class='gallery-icon landscape'>
														<a href="images/factory3-gallery-pic4.jpg"><img width="500" height="342"
																src="images/factory3-gallery-pic4-500x342.jpg" class="attachment-medium size-medium" alt
																loading="lazy"></a>
													</dt>
												</dl>
												<dl class="gallery-item">
													<dt class='gallery-icon landscape'>
														<a href="images/factory3-gallery-pic5.jpg"><img width="500" height="342"
																src="images/factory3-gallery-pic5-500x342.jpg" class="attachment-medium size-medium" alt
																loading="lazy"></a>
													</dt>
												</dl>
												<dl class="gallery-item">
													<dt class='gallery-icon landscape'>
														<a href="images/factory3-gallery-pic6.jpg"><img width="500" height="342"
																src="images/factory3-gallery-pic6-500x342.jpg" class="attachment-medium size-medium" alt
																loading="lazy"></a>
													</dt>
												</dl>
												<br style="clear: both">
												<dl class="gallery-item">
													<dt class='gallery-icon landscape'>
														<a href="images/factory3-gallery-pic7.jpg"><img width="500" height="342"
																src="images/factory3-gallery-pic7-500x342.jpg" class="attachment-medium size-medium" alt
																loading="lazy"></a>
													</dt>
												</dl>
												<dl class="gallery-item">
													<dt class='gallery-icon landscape'>
														<a href="images/factory3-gallery-pic8.jpg"><img width="500" height="342"
																src="images/factory3-gallery-pic8-500x342.jpg" class="attachment-medium size-medium" alt
																loading="lazy"></a>
													</dt>
												</dl>
												<dl class="gallery-item">
													<dt class='gallery-icon landscape'>
														<a href="images/factory3-gallery-pic9.jpg"><img width="500" height="342"
																src="images/factory3-gallery-pic9-500x342.jpg" class="attachment-medium size-medium" alt
																loading="lazy"></a>
													</dt>
												</dl>
												<br style="clear: both">
											</div>
										</div>
										<div class="column mcb-column mcb-item-kjtnqm2jj one column_divider">
											<hr class="no_line" style="margin:0 auto 80px">
										</div>
										<div class="column mcb-column mcb-item-lndam01rr one-third column_column">
											<div class="column_attr clearfix align_right mobile_align_center" style="padding:0 40px;">
												<div class="image_frame image_item no_link scale-with-grid alignnone no_border">
													<div class="image_wrapper"><img class="scale-with-grid"
															src="{% static 'images/factory3-company-pic3.png' %}"> </div>
												</div>
											</div>
										</div>
										<div class="column mcb-column mcb-item-bkcpza2xy one-third column_column">
											<div class="column_attr clearfix mobile_align_center" style>
												<p style="color:#FFF;"> Curabitur sed iaculis dolor, non congue ligula. Maecenas imperdiet ante
													eget hendrerit posuere. Nunc urna libero, congue porta nibh a, semper feugiat sem. </p>
											</div>
										</div>
										<div class="column mcb-column mcb-item-ya6r9z8ok one-third column_button">
											<div class="button_align align_center"> <a class="button has-icon button_right button_size_2"
													href="company.html" style="background-color:#ff8429!important;color:#561e00;"><span
														class="button_icon"><i class="icon-right-open-mini"
															style="color:#561e00!important;"></i></span><span class="button_label">Hire us
														now</span></a> </div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="section mcb-section mcb-section-oczgqhnng full-width">
							<div class="section_wrapper mcb-section-inner">
								<div class="wrap mcb-wrap mcb-wrap-qwsiycfrv one valign-top clearfix">
									<div class="mcb-wrap-inner">
										<div class="column mcb-column mcb-item-n2xdly0c2 one column_image">
											<div class="image_frame image_item no_link scale-with-grid aligncenter stretch no_border">
												<div class="image_wrapper"><img class="scale-with-grid"
														src="{% static 'images/factory3-sep3.jpg' %}">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include 'partials/footer.html' %}
	</div>
	<div id="Side_slide" class="right dark" data-width="250">
		<div class="close-wrapper"> <a href="#" class="close"><i class="icon-cancel-fine"></i></a> </div>
		<div class="menu_wrapper"></div>

	</div>
	<div id="body_overlay"></div>
	{% include 'partials/scripts.html' %}
</body>
{% endblock %}